body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 30px;
  font-weight: bold;
  line-height: 100px;
  height: 100px;
  width: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 250px;
}

.game-info {
  margin-left: 20px;
}

.deck {
  display: flex;
  flex-direction: row;
  padding: 10%;
}

/* Common style for both X and O */
.piece::after {
  content: '';
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}

/* Style for X */
.piece-x-0::after {
  content: 'X';
  font-size: 25px;
  color: rgb(0, 48, 138);
  z-index: 1; /* Higher z-index to superimpose on smaller shapes */
}

.piece-x-1::after {
  content: 'X';
  font-size: 50px;
  color: rgba(0, 48, 138, 0.773);
  z-index: 1;
}

.piece-x-2::after {
  content: 'X';
  font-size: 75px;
  color: rgba(0, 48, 138, 0.493);
  z-index: 1;
}

/* Style for O */
.piece-o-0::after {
  content: 'O';
  font-size: 25px;
  color: rgb(240, 49, 49);
  z-index: 1;
}

.piece-o-1::after {
  content: 'O';
  font-size: 50px;
  color: rgba(240, 49, 49, 0.709);
  z-index: 1;
}

.piece-o-2::after {
  content: 'O';
  font-size: 75px;
  color: rgba(240, 49, 49, 0.398);
  z-index: 1;
}