.piece-size-0 {
    width: 50px; /* Small size */
    height: 50px;
}

.piece-size-1 {
    width: 75px; /* Medium size */
    height: 75px;
}

.piece-size-2 {
    width: 100px; /* Large size */
    height: 100px;
}

/* Styles for "O" */
.square.o.small::after {
    content: 'O';
    color: rgba(0, 128, 255, 0.516); /* Adjust the color and transparency */
    font-size: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.square.o.medium::after {
    content: 'O';
    color: rgba(0, 128, 255, 0.516); /* Adjust the color and transparency */
    font-size: 75px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.square.o.large::after {
    content: 'O';
    color: rgba(0, 128, 255, 0.516); /* Adjust the color and transparency */
    font-size: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

  /* Styles for "X" */
.square.x.small::after {
    content: 'X';
    color: rgba(255, 0, 0, 0.516); /* Adjust the color and transparency */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.square.x.medium::after {
    content: 'X';
    color: rgba(255, 0, 0, 0.516); /* Adjust the color and transparency */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.square.x.large::after {
    content: 'X';
    color: rgba(255, 0, 0, 0.516); /* Adjust the color and transparency */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.deck-and-bord-style{
    display: flex;
    flex-direction: row;
}